html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
  font-size: 1rem;
  line-height: 1.54;
  letter-spacing: -0.02em;
  background-color: color-mod(var(--accent) blend(#1D1E28 98%));
  color: var(--color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga", "tnum", "zero", "ss01", "locl";
  font-variant-ligatures: contextual;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;

  @media (--phone) {
    font-size: 1rem;
  }
}

/* .headings--one-size {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.3;
  }

  h1,
  h2,
  h3 {
    font-size: 1.4rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1.2rem;
  }
} */

a {
  color: inherit;

  /* Waiting for a better times... */
  /* &:has(code) {
    text-decoration-color: var(--accent);
  } */
}

img {
  display: block;
  max-width: 100%;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }
}

p {
  margin-bottom: 20px;
}

figure {
  display: table;
  max-width: 100%;
  margin: 25px 0;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }

  figcaption {
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 5px;
    background: var(--accent);
    color: var(--background);
    /* opacity: .8; */

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }
}

code, kbd {
  font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace !important;
  font-feature-settings: normal;
  background: color-mod(var(--accent) a(20%));
  color: var(--accent);
  padding: 1px 6px;
  margin: 0 2px;
  font-size: .95rem;

  code, kbd {
    background: transparent;
    padding: 0;
    margin: 0;
  }
}

pre {
  background: transparent !important;
  padding: 20px 10px;
  margin: 40px 0;
  font-size: .95rem !important;
  overflow: auto;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);

  + pre {
    border-top: 0;
    margin-top: -40px;
  }

  @media (--phone) {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    background: none !important;
    margin: 0;
    padding: 0;
    font-size: inherit;
    border: none;
  }
}

blockquote {
  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  margin: 40px 0;
  padding: 25px;

  @media (--phone) {
    padding-right: 0;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  p {
    position: relative;
  }

  p:first-of-type:before {
    content: '>';
    display: block;
    position: absolute;
    left: -25px;
    color: var(--accent);
  }

  &.twitter-tweet {
    position: relative;
    background: color-mod(var(--accent) a(10%));
    font: inherit;
    color: inherit;
    border: 1px solid var(--accent);
    padding-top: 60px;

    p:before {
      content: '';
    }

    &:before {
      content: '> From Twitter:';
      position: absolute;
      top: 20px;
      color: var(--accent);
      font-weight: bold;
    }

    a {
      color: var(--accent);
    }
  }
}

table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0;
}

table,
th,
td {
  border: 1px dashed var(--accent);
  padding: 10px;
}

th {
  color: var(--accent);
}

ul,
ol {
  margin-left: 22px;
  padding: 0;

  li {
    position: relative;
  }

  @media (--phone) {
    margin-left: 20px;
  }
}

ol {
  list-style: none;
  counter-reset: li;

  li {
    counter-increment: li;
  }

  li:before {
    content: counter(li);
    position: absolute;
    right: calc(100% + 10px);
    color: var(--accent);
    display: inline-block;
    text-align: right;
  }

  ol {
    margin-left: 38px;

    li {
      counter-increment: li;
    }

    li:before {
      content: counters(li, ".") " ";
    }
  }
}

mark {
  background: var(--accent);
  color: var(--background);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 864px;
  min-height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.1);

  &.full,
  &.center {
    border: none;
    margin: 0 auto;
  }

  &.full {
    max-width: 100%;
  }

  @media (--phone) {
    padding: 20px;
  }

  @media print {
    display: initial;
  }
}

.content {
  display: flex;
  flex-direction: column;

  @media print {
    display: initial;
  }
}

hr {
  width: 100%;
  border: none;
  background: var(--border-color);
  height: 1px;
}

.hidden {
  display: none;
}

sup {
 line-height: 0;
}

@define-mixin menu {
  position: absolute;
  background: var(--background);
  box-shadow: var(--shadow);
  color: white;
  border: 2px solid;
  margin: 0;
  padding: 10px;
  list-style: none;
  z-index: 99;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;

  @media print {
    display: none;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    flex: 1;

    &:after {
      content: '';
      background: repeating-linear-gradient(120deg, var(--accent), var(--accent) 2px, transparent 0, transparent 10px);
      display: block;
      width: 100%;
      right: 10px;
    }

    a {
      flex: 0 0 auto;
      max-width: 100%;
      text-decoration: none;
    }
  }

  .menu {
    --shadow-color: color-mod(var(--background) a(80%));
    --shadow: 0 10px var(--shadow-color), -10px 10px var(--shadow-color), 10px 10px var(--shadow-color);
    margin: 20px 1px;

    @media (--phone) {
      @mixin menu;
      top: 50px;
      right: 0;
    }

    &__inner {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;

      &--desktop {
        @media (--phone) {
          display: none;
        }
      }

      &--mobile {
        display: none;

        @media (--phone) {
          display: block;
        }
      }

      li {
        &:not(:last-of-type) {
          margin-right: 20px;
          margin-bottom: 10px;
          flex: 0 0 auto;
        }
      }

      @media (--phone) {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;

        li {
          margin: 0;
          padding: 5px;
        }
      }
    }

    &__sub-inner {
      position: relative;
      list-style: none;
      padding: 0;
      margin: 0;

      &:not(:only-child) {
        margin-left: 20px;
      }

      &-more {
        @mixin menu;
        top: 35px;
        left: 0;

        &-trigger {
          color: var(--accent);
          user-select: none;
          cursor: pointer;
        }

        li {
          margin: 0;
          padding: 5px;
          white-space: nowrap;
        }
      }
    }

    .spacer {
      flex-grow: 1;
    }

    .language-selector {
      position: relative;
      list-style: none;
      margin: 0;

      &-current {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        color: var(--accent);
        cursor: pointer;
        margin: 0;
      }

      &__more {
        @mixin menu;
        top: 35px;
        right: 0;
      }
    }

    &-trigger {
      color: var(--accent);
      border: 2px solid;
      margin-left: 10px;
      height: 100%;
      padding: 3px 8px;
      position: relative;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: var(--accent);
  color: black;
  padding: 5px 10px;
}

.pagination {
  margin-top: 50px;

  @media print {
    display: none;
  }

  &__title {
    display: flex;
    text-align: center;
    position: relative;
    margin: 100px 0 20px;

    &-h {
      text-align: center;
      margin: 0 auto;
      padding: 5px 10px;
      background: color-mod(var(--accent) blend(#1D1E28 98%));
      font-size: .8rem;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: .1em;
      z-index: 1;
    }

    hr {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      margin-top: 15px;
      z-index: 0;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
    }
  }
}

.button {
  position: relative;
  display: inline-flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
  appearance: none;
  overflow: hidden;

  + .button {
    margin-left: 10px;
  }

  a {
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.next .button__icon {
    margin-left: 8px;
  }

  &.previous .button__icon {
    margin-right: 8px;
  }
}

.index-content {
  margin-top: 20px;
}

.framed {
  border: 1px solid var(--accent);
  padding: 20px;

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.posts {
  width: 100%;
}

.post {
  width: 100%;
  text-align: left;
  margin: 5px auto;
  padding: 10px 0;

  @media (--tablet) {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
  }

  &-meta {
    font-size: 1rem;
    margin-bottom: 10px;
    color: color-mod(var(--accent) a(70%));
  }

  &-title {
    --border: 3px dotted var(--accent);
    position: relative;
    color: var(--accent);
    padding-bottom: 0px;
    border-bottom: var(--border);

    &:after {
      content: '';
      position: absolute;
      bottom: 2px;
      display: block;
      width: 100%;
      border-bottom: var(--border);
    }

    a {
      text-decoration: none;
    }
  }

  &-tags {
    display: block;
    margin-bottom: 20px;
    font-size: 1rem;
    opacity: .5;

    a {
      text-decoration: none;
    }
  }

  &-content {
    margin-top: 30px;
  }

  &-cover {
    border: 20px solid var(--accent);
    background: transparent;
    margin: 40px 0;
    padding: 20px;

    @media (--phone) {
      padding: 10px;
      border-width: 10px;
    }
  }

  ul {
    list-style: none;

    li:not(:empty):before {
      content: '-';
      position: absolute;
      left: -20px;
      color: var(--accent);
    }
  }
}

.post--regulation {
  h1 {
    justify-content: center;
  }

  h2 {
    justify-content: center;
    margin-bottom: 10px;

    & + h2 {
      margin-top: -10px;
      margin-bottom: 20px;
    }
  }
}

.hanchor {
  color: color-mod(var(--accent) alpha(90%));
  text-decoration: none;
  margin-left: 10px;
  visibility: hidden;
}

h1:hover a, h2:hover a, h3:hover a, h4:hover a {
  visibility: visible;
}

.footnotes {
  color: color-mod(var(--color) alpha(50%));
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.statement,
.token.regex,
.token.atrule,
.token.number,
.token.inserted,
.token.important {
  color: var(--accent) !important;
}

.token.tag-id,
.token.atrule-id,
.token.operator,
.token.unit,
.token.placeholder,
.token.variable,
.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted,
.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: color-mod(var(--accent) a(70%)) !important;
}

.token.property,
.token.function,
.token.function-name,
.token.deleted,
code.language-javascript,
code.language-html,
.command-line-prompt > span:before {
  color: color-mod(var(--accent) blend(#999 90%)) !important;
}

.token.selector,
.token.tag,
.token.punctuation {
  color: white;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: rgba(255, 255, 255, .3) !important;
}

.token.namespace {
  opacity: .7 !important;
}

pre[data-line] {
  position: relative;
}

pre[class*="language-"] {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  background: color-mod(var(--accent) blend(#999 90%) a(8%));
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  /* top: .4em; */
  left: .6em;
  min-width: 1em;
  padding: 0 .5em;
  background-color: hsla(24, 20%, 50%, .4);
  color: hsl(24, 20%, 95%);
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: .3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px white;
}

.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: .4em;
}

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
  content: none;
}

:root {
	--code-margin: 40px;
}

.code-toolbar {
	position: relative;
	margin: var(--code-margin) 0;
	padding: 20px;
	border: 1px solid rgba(255, 255, 255, .1);

	+ .code-toolbar,
	+ .highlight,
	+ .highlight .code-toolbar {
		border-top: 0;
		margin-top: calc(-1 * var(--code-margin));
	}

	pre, code {
		border: none;
	}

	code {
		display: block;
		color: inherit;
	}

  > .toolbar {
    button {
      font-size: .8em !important;
      background: hsla(0,0%,87.8%,.2) !important;
      color: #bbb !important;
      box-shadow: 0 2px 0 0 rgba(0,0,0,.2) !important;
      border-radius: 0 !important;
      margin: 6px !important;
      padding: 10px !important;
      user-select:none
    }
  }
}

:root {
  --accent: #FFA86A;
  --background: color-mod(var(--accent) blend(#1D1E28 98%));
  --color: white;
  --border-color: rgba(255, 255, 255, .1);

  /* variables for js, must be the same as these in @custom-media queries */
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

@custom-media --phone (max-width: 684px);
@custom-media --tablet (max-width: 900px);

:root {
  --accent: #78E2A0;
  --background: color-mod(var(--accent) blend(#1D1E28 98%));
  --color: white;
  --border-color: rgba(255, 255, 255, .1);
}

