name: Deploy Website
on:
  schedule:
    - cron: "12 12 * * *"  # Auto build at 12:!2 every day

  workflow_dispatch:
    
  push:
    branches:
      - main  # Set a branch to deploy

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:

      - name: Checkout repos
        uses: actions/checkout@v3
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16.15.0

      - name: Install theme dependancies
        run: npm install
        working-directory: themes/hugo-geekdoc 

      - name: Build theme
        run: npm run build
        working-directory: themes/hugo-geekdoc 

      - name: Download latest website content
        run: curl --location "${{secrets.WEBSITE_DATA_URL}}" --output "website_data.zip"

      # For some reason the zip from dropbox causes unzip to return 2, but only on the linux builds of unzip
      # 2 is a generic error code. It seems to output alright, so we are going to swollow the  error by always returning true
      - name: Unzip data
        run: rm -r content && mkdir website_data content && unzip -d website_data website_data.zip || true

      - name: Convert Obsidian data
        run: bin/obsidan-export-linux website_data content

      - name: Build
        run: hugo --minify

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          cname: shermanrose.uk
          enable_jekyll: false